[defaults]
inventory             = inventories/prod/hosts.yml
roles_path            = roles
collections_path      = collections
host_key_checking     = False
# community.general.yaml is nicer but is not part of ansible-core
stdout_callback       = default
interpreter_python    = auto_silent
forks                 = 10
retry_files_enabled   = False
display_skipped_hosts = False

[persistent_connection]
command_timeout = 120
connect_timeout = 120
