---
# templates/azure/keyvault_csi_secret_provider.yml.j2
# SecretProviderClass for Azure Key Vault CSI Driver
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ app_name }}-azure-keyvault
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: secret-provider
    app.kubernetes.io/managed-by: ansible
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "false"
    clientID: {{ azure.managed_identity_client_id }}
    keyvaultName: {{ azure.keyvault_name }}
    tenantId: {{ azure.tenant_id }}
    cloudName: ""  # Empty for public cloud, "AzureUSGovernment" for gov cloud
    objects: |
      array:
{% for secret in secrets %}
        - |
          objectName: {{ secret.keyvault_secret | default(secret.name) }}
          objectType: secret
{% if secret.object_version is defined %}
          objectVersion: {{ secret.object_version }}
{% endif %}
{% if secret.object_alias is defined %}
          objectAlias: {{ secret.object_alias }}
{% endif %}
{% endfor %}
{% if secrets | selectattr('sync_as_secret', 'defined') | selectattr('sync_as_secret') | list | length > 0 or secrets | rejectattr('sync_as_secret', 'defined') | list | length > 0 %}
  secretObjects:
{% for secret in secrets %}
{% if secret.sync_as_secret | default(true) %}
    - secretName: {{ secret.name }}
      type: {{ secret.type | default('Opaque') }}
      data:
        - objectName: {{ secret.keyvault_secret | default(secret.name) }}
          key: {{ secret.key | default('value') }}
{% endif %}
{% endfor %}
{% endif %}
