[Unit]
Description=GitHub Enterprise Server Backup Timer
Requires=ghe-backup.service

[Timer]
{% if ghe_backup_schedule == "hourly" %}
OnCalendar=*:00:00
{% elif ghe_backup_schedule == "daily" %}
OnCalendar=00:00:00
{% elif ghe_backup_schedule == "custom" %}
OnCalendar={{ ghe_backup_on_calendar }}
{% else %}
OnCalendar={{ ghe_backup_schedule }}
{% endif %}
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
