---
# templates/aws/service_account.yml.j2
# Service Account with AWS IRSA (IAM Roles for Service Accounts) annotations
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ service_account.name | default(app_name ~ '-sa') }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: service-account
    app.kubernetes.io/managed-by: ansible
{% if service_account.labels is defined %}
{% for key, value in service_account.labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
  annotations:
    eks.amazonaws.com/role-arn: {{ aws.role_arn }}
{% if aws.sts_regional_endpoints is defined %}
    eks.amazonaws.com/sts-regional-endpoints: "{{ aws.sts_regional_endpoints }}"
{% endif %}
{% if service_account.annotations is defined %}
{% for key, value in service_account.annotations.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
